.DS_Store
node_modules
/node_modules
.next
out
dist
.env
*.un~
*.swp
*.swo
*.log
build
aws/.build
aws/layer.zip
aws/nodejs
aws/layer
.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local
package-lock.json
dump.rdb
oplog.timestamp
dump
gitinfo.json
extension/dist
extension/manifest.json
aicruiter
aicruiter.zip
AI-cruiter by WorkInBiotech.com
